body{
   background-color: #ffe4c4;
   align-content: center;

}

hr{
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 6%;
}

h1{
color: #66BFBF;

}

h3{
color: #ff7f50;
}

p{
font-family: cursive;

}
